*{
    box-sizing: border-box;
}

@font-face{
    font-family: "Pixel";
    src: url("../fonts/Pixel.ttf")
}

h1{
    font-size: 40px;
    letter-spacing: 4px;
}

#return{
    position: absolute;
    font-size: 18px;
    top: 47px;
    left: 6px;    
}

[wm-flappy]{
    position: relative;
    border:5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: 15px;;
    background-color: deepskyblue;
    /* o que estiver fora dessa div não vai aparecer */
    overflow: hidden;
}

#call-back{
    width: 50px;
    position: absolute;
    top:10px;
    left:10px;
    cursor: pointer;
}

.passaro{
    position:absolute;
    width: 50px;
    left:calc(50% - 30px);
}

.par-de-barreiras{
    position: absolute;
    top:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira > .borda{
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border: 2px solid black;

}

.barreira > .corpo{
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border-left: 2px solid black;
    border-right: 2px solid black;;
}

.progresso{
    position: absolute;
    top:10px;
    right: 10px;
    font-family: Pixel;
    font-size: 50px;
    z-index: 1;
}

a{
    text-decoration: none;
    color:white;
    font-weight: 100;
    font-size: 21px;
    cursor: pointer;
}